%center {
    display: flex;
    align-self: center;
}

@mixin change_fonts($color, $f_size, $f_weight, $family) {
    color: $color;
    font-size: $f_size;
    font-weight: $f_weight;
    font-family: $family;
}

@mixin change_btn($color, $bg, $f_size, $pad, $border, $radius) {
    color: $color;
    background: $bg;
    font-size: $f_size;
    padding: $pad;
    border: $border;
    border-radius: $radius;
}

@mixin change__wh($w, $h) {
    width: $w;
    height: $h;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #1F2E35;
}

.container {
    margin: 0px 144px;

    .nav__contant {
        @extend %center;
        justify-content: space-between;
        margin-top: 23px;

        .bars {
            font-size: 22px;
            color: #fff;
            display: none
        }

        .dis__icon_h {
            @extend %center;
            gap: 16px;

            .nav__img_1 {
                @include change__wh(40px, 36px)
            }

            .nav__h1 {
                @include change_fonts(#fff, 30px, 700, Poppins);
            }

        }

        .nav__contant_2 {
            @extend %center;
            gap: 25px;

            .nav__ul {
                @extend %center;
                gap: 25px;

                .nav__li {
                    @include change_fonts(#fff, 16px, 400, Poppins);
                    list-style: none;
                }

                .nav__a {
                    @include change_fonts(#fff, 16px, 400, Poppins);
                    text-decoration: none;
                }
            }

            .nav__btn {
                @include change_btn(#fff, none, 16px, 10px 25px, 1px solid #BCD0E5, 4px);
                cursor: pointer
            }

            .nav__btn_2 {
                @include change_btn(#fff, #02897A, 16px, 10px 25px, none, 4px);
                cursor: pointer;
            }

            .nav__img_2 {
                @include change__wh(32px, 32px)
            }
        }
    }
}

@media (max-width:1200px) and (min-width:990px) {
    .container {
        .nav__contant {
            .nav__contant_2 {
                display: none;
            }

            .bars {
                display: block;
            }
        }
    }
}

@media (max-width:989px) and (min-width:760px) {
    .container {
        .nav__contant {
            .nav__contant_2 {
                display: none;
            }

            .bars {
                display: block;
            }
        }
    }
}

@media (max-width:759px) and (min-width:630px) {
    .container {
        .nav__contant {
            .nav__contant_2 {
                display: none;
            }

            .bars {
                display: block;
            }
        }
    }
}

@media (max-width:629px) and (min-width:459px) {
    .container {
        margin: 0px 100px;

        .nav__contant {
            .nav__contant_2 {
                display: none;
            }

            .bars {
                display: block;
            }
        }
    }
}

@media (max-width:458px) and (min-width:0px) {
    .container {
        margin: 0px 50px;

        .nav__contant {
            .nav__contant_2 {
                display: none;
            }

            .bars {
                display: block;
            }
        }
    }
}

header {
    .container {
        .dis__contant__header {
            @extend %center;
            justify-content: space-between;
            margin-top: 100px;

            .header__contant {
                .header__h1 {
                    @include change_fonts(#fff, 40px, 600, Poppins);
                    max-width: 340px;
                }

                .header__p {
                    @include change_fonts(#fff, 20px, 400, Poppins);
                    max-width: 535px;
                    margin-top: 24px;
                }

                .int__btn {
                    @include change__wh(469px, 66px);
                    margin-top: 24px;
                    border: 1px solid #EAEAEA;
                    border-radius: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 25px;

                    .header__int {
                        border: none;
                        background: fixed;
                        @include change_fonts(#fff, 16px, 400, Poppins);
                    }

                    .header__int::placeholder {
                        @include change_fonts(#fff, 16px, 400, Poppins);
                    }

                    .header__btn {
                        @include change_btn(#fff, #02897A, 16px, 16px, none, 100px);
                        cursor: pointer;
                    }
                }

                .header__img_2 {
                    @include change__wh(287, 50);
                    margin-top: 24px;
                }
            }

            .header__img_1 {
                @include change__wh(576px, 397px);
            }
        }
    }
}

@media (max-width:1200px) and (min-width:990px) {
    header {
        .container {
            .dis__contant__header {
                flex-wrap: wrap;
                justify-content: center;

                .header__img_1 {
                    margin-top: 40px;
                    @include change__wh(400px, 300px)
                }
            }
        }
    }
}

@media (max-width:989px) and (min-width:760px) {
    header {
        .container {
            .dis__contant__header {
                flex-wrap: wrap;
                justify-content: center;

                .header__img_1 {
                    margin-top: 40px;
                    @include change__wh(400px, 300px)
                }
            }
        }
    }
}

@media (max-width:759px) and (min-width:630px) {
    header {
        .container {
            .dis__contant__header {
                flex-wrap: wrap;
                justify-content: center;

                .header__img_1 {
                    margin-top: 40px;
                    @include change__wh(400px, 300px)
                }
            }
        }
    }
}

@media (max-width:629px) and (min-width:460px) {
    header {
        .container {
            .dis__contant__header {
                flex-wrap: wrap;
                justify-content: center;

                .header__img_1 {
                    margin-top: 40px;
                    @include change__wh(400px, 300px)
                }
            }
        }
    }
}

@media (max-width:459px) and (min-width:0px) {
    header {
        .container {
            .dis__contant__header {
                flex-wrap: wrap;
                justify-content: center;

                .header__contant {
                    text-align: center;

                    .int__btn {
                        @include change__wh(350px, 60px)
                    }
                }

                .header__img_1 {
                    margin-top: 40px;
                    @include change__wh(300px, 200px)
                }
            }
        }
    }
}

main {
    .main__contant {
        margin-top: 100px;

        .main__h3 {
            @include change_fonts(#fff, 40px, 600, Poppins);
            text-align: center;
        }

        .main__p {
            @include change_fonts(#fff, 20px, 400, Poppins);
            text-align: center;
            margin-top: 8px;
        }

        .main_row_1 {
            @extend %center;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 40px;
        }
    }
}

article {
    .article__h2 {
        @include change_fonts(#fff, 32px, 400, Poppins);
        text-align: center;
        margin-top: 160px;
    }

    .article__p {
        @include change_fonts(#fff, 18px, 400, Poppins);
        text-align: center;
        max-width: 332px;
        margin: 10px auto;
    }

    .img__center {
        display: flex;
        justify-content: center;
        margin-top: 65px;
        margin-bottom: 50px;

        .article__img_1 {
            max-width: 871px;
        }
    }
}

@media (max-width: 1200px) and (min-width: 990px) {}

@media (max-width: 989px) and (min-width: 760px) {
    article {
        .img__center {
            .article__img_1 {
                max-width: 640px;
            }
        }
    }
}

@media (max-width: 759px) and (min-width: 630px) {
    article {
        .img__center {
            .article__img_1 {
                max-width: 540px;
            }
        }
    }
}

@media (max-width: 629px) and (min-width: 460px) {
    article {
        .img__center {
            .article__img_1 {
                max-width: 440px;
            }
        }
    }
}

@media (max-width: 460px) and (min-width: 0px) {
    article {
        .img__center {
            .article__img_1 {
                max-width: 290px;
            }
        }
    }
}

.figure__contant {
    @include change__wh(868px, 670px);
    padding: 50px;
    background: #22343D;
    margin: 0 auto;
    border-radius: 10px;

    .figure__h1 {
        @include change_fonts(#fff, 24px, 700, Poppins);
        text-align: center;
        padding-top: 50px;
    }

    .figure__int {
        @include change_fonts(#22343D, 15px, 700, Poppins);
        @include change__wh(768px, 54px);
        padding: 20px;
        border: none;
        border-radius: 40px;
        background: #F5F5F5;
        margin-top: 45px;
    }

    .figure__int::placeholder {
        @include change_fonts(#22343D, 15px, 700, Poppins);
    }

    .figure__area {
        @include change_fonts(#22343D, 15px, 700, Poppins);
        @include change__wh(768px, 200px);
        padding: 20px;
        border: none;
        border-radius: 10px;
        background: #F5F5F5;
        margin-top: 45px;
    }

    .figure__area::placeholder {
        @include change_fonts(#22343D, 15px, 700, Poppins);
    }

    .figure__btn {
        @include change_fonts(#fff, 15px, 700, Poppins);
        padding: 15px 25px;
        background-color: #02897A;
        margin-top: 25px;
        border: none;
        border-radius: 10px;
    }
}

@media (max-width: 1200px) and (min-width: 990px) {
    .figure__contant {
        @include change__wh(768px, 670px);

        .figure__int {
            @include change__wh(700px, 54px)
        }

        .figure__area {
            @include change__wh(700px, 200px)
        }
    }
}

@media (max-width: 989px) and (min-width: 760px) {
    .figure__contant {
        @include change__wh(668px, 670px);

        .figure__int {
            @include change__wh(600px, 54px)
        }

        .figure__area {
            @include change__wh(600px, 200px)
        }
    }
}

@media (max-width: 759px) and (min-width: 630px) {
    .figure__contant {
        @include change__wh(568px, 670px);

        .figure__int {
            @include change__wh(500px, 54px)
        }

        .figure__area {
            @include change__wh(500px, 200px)
        }
    }
}

@media (max-width: 629px) and (min-width: 460px) {
    .figure__contant {
        @include change__wh(468px, 670px);

        .figure__int {
            @include change__wh(400px, 54px)
        }

        .figure__area {
            @include change__wh(400px, 200px)
        }
    }
}

@media (max-width: 459px) and (min-width: 0px) {
    .figure__contant {
        @include change__wh(368px, 670px);

        .figure__int {
            @include change__wh(300px, 54px)
        }

        .figure__area {
            @include change__wh(300px, 200px)
        }
    }
}

footer {
    .container {
        .footer__contant {
            @extend %center;
            justify-content: space-between;
            margin-top: 167px;

            .footer__center {
                .f__dis__icon_h {
                    @extend %center;
                    gap: 16px;

                    .footer__img_1 {
                        @include change__wh(40px, 36px)
                    }

                    .footer__h1 {
                        @include change_fonts(#fff, 30px, 700, Poppins);
                    }
                }

                .dis__img__footer {
                    @extend %center;
                    gap: 20px;
                    margin-top: 25px;
                }
            }

            .footer__ul {
                @extend %center;
                flex-direction: column;
                gap: 8px;

                .footer__h3 {
                    @include change_fonts(#fff, 20px, 500, Poppins);
                    width: 280px;
                }

                .footer__a {
                    @include change_fonts(#fff, 16px, 200, Poppins);
                    text-decoration: none;
                }

                .footer__li {
                    @include change_fonts(#fff, 16px, 200, Poppins);
                    list-style: none;
                }

                .footer__int {
                    max-width: 225px;
                    height: 48px;
                    border: none;
                    border-radius: 5px;
                }

                .footer__btn {
                    @include change_btn(#fff, #02897A, 16px, 0px, none, 5px);
                    @include change__wh(131px, 39px);
                    cursor: pointer;
                }
            }
        }

        .footer__p {
            @include change_fonts(#fff, 16px, 200, Poppins);
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;
        }

    }
}

@media (max-width:1200px) and (min-width:990px) {
    .footer__contant {
        flex-wrap: wrap;

        .footer__ul {
            margin: 0 auto;
            margin-top: 20px;
        }
    }
}

@media (max-width:989px) and (min-width:760px) {
    .footer__contant {
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .footer__ul {
            align-items: center;

            .footer__h3 {
                display: flex;
                justify-content: center;
            }
        }
    }

    .footer__p {
        margin-top: 50px;
    }
}

@media (max-width:759px) and (min-width:630px) {
    .footer__contant {
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .footer__ul {
            align-items: center;

            .footer__h3 {
                display: flex;
                justify-content: center;
            }
        }
    }

    .footer__p {
        margin-top: 50px;
    }
}

@media (max-width:629px) and (min-width:459px) {
    .footer__contant {
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .footer__ul {
            align-items: center;

            .footer__h3 {
                display: flex;
                justify-content: center;
            }
        }
    }

    .footer__p {
        margin-top: 50px;
    }
}

@media (max-width:459px) and (min-width:0px) {
    .footer__contant {
        flex-direction: column;
        align-items: center;
        gap: 50px;

        .footer__ul {
            align-items: center;

            .footer__h3 {
                display: flex;
                justify-content: center;
            }
        }
    }

    .footer__p {
        margin-top: 50px;
    }
}